.logic-one-col-form{
  .form-group {
    margin-bottom: 3px;
  }
  .card-footer{
    text-align: center;
  }
  .logic-custom-md-1{
    padding-left: 0px;
  }
  .logic-custom-md-2{
    padding-right:0px
  }
  label{
    font-family: helvetica, arial, sans-serif;
    color: #2A456F;
    font-size:12px;
    font-weight: bold;
  }
}
.logic-form{
  .form-group {
    margin-bottom: 3px;
  }
  .card-footer{
    text-align: center;
  }
  .col-md-1{
    padding-right: 0px;
    padding-left: 0px;
  }
  .logic-custom-md-1{
    padding-left: 14px;
  }
  .logic-custom-md-11{
    padding-right: 14px;
  }
  .logic-custom-md-2{
    padding-right:0px
  }
  label{
    font-family: helvetica, arial, sans-serif;
    color: #2A456F;
    font-size:12px;
    font-weight: bold;
  }
  textarea{
    height: 31px;
  }
}